services:
  - type: web
    name: gold-assay-ml
    runtime: python
    pythonVersion: "3.12.7"
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: gunicorn run:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
